## 信用卡違約預測
- Dataset: https://www.kaggle.com/datasets/uciml/default-of-credit-card-clients-dataset

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model  import LogisticRegression
from sklearn.metrics import accuracy_score

# 1.讀取default_credit_card.csv
df = pd.read_csv("default_credit_card.csv")
df.head()

,X0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [2]:
# 2.設定特徵向量X以及對應的標籤y
X = df.drop("Y",axis=1)
y = df["Y"]

print(X.shape)
print(y.shape)

(30000, 24)
(30000,)

In [3]:
# 3. 將資料分成訓練資料以及測試資料(假設random_state=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

scaler = StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)

# 4. 定義LogisticRegression模型並訓練
model = LogisticRegression()
model.fit(X_train, y_train)

X_test = scaler.transform(X_test)
y_pred = model.predict(X_test)

#5. 驗證結果
accuracy = accuracy_score(y_test, y_pred)
num_correct_samples = accuracy_score(y_test, y_pred, normalize=False)

print("Number of correct sample: {}".format(num_correct_samples))
print("Accuracy: {:.3f}".format(accuracy))

Number of correct sample: 4846
Accuracy: 0.808