## 成績查詢系統

### 創建資料表

In [1]:
import MySQLdb

db = MySQLdb.connect("127.0.0.1","irene","0000","mydatabase")

cursor = db.cursor()

# 1.將如果STUDENTS資料表存在，將STUDENTS資料表丟棄
cursor.execute("DROP TABLE IF EXISTS STUDENTS")

# 2.創建STUDENTS資料表，資料表欄位如下
sql = """CREATE TABLE STUDENTS (
         ID INT(11) NOT NULL AUTO_INCREMENT,
         NAME CHAR(20) NOT NULL,
         GENDER CHAR(20) NOT NULL,
         CHINESE CHAR(20) NOT NULL,
         ENGLISH CHAR(20) NOT NULL,
         MATH CHAR(20) NOT NULL,
         SOCIAL_SCIENCE CHAR(20) NOT NULL,
         SCIENCE  CHAR(20) NOT NULL,
         PRIMARY KEY  (ID)
         )DEFAULT CHARSET=utf8"""

cursor.execute(sql)
db.close()

### 手動輸入學生成績到資料庫內

In [2]:
import MySQLdb

db = MySQLdb.connect("127.0.0.1","irene","0000","mydatabase")

cursor = db.cursor()

print("Enter Student Score")
while True:
    student_name = input("Enter Name: ")
    student_gender = input("Enter Gender: ")
    student_chinese = input("Enter Chinese Score: ")
    student_english = input("Enter English Score: ")
    student_math = input("Enter Math Score: ")
    student_social_science = input("Enter Social Science Score: ")
    student_science = input("Enter Science Score: ")
    
    # 3.將student_name, student_gender, student_chinese, ......插入到資料庫
    student_score = (student_name, student_gender, student_chinese, student_english, \
                     student_math, student_social_science, student_science)
    sql = """INSERT INTO STUDENTS
             (NAME, GENDER, CHINESE, ENGLISH, MATH, SOCIAL_SCIENCE, SCIENCE)
             VALUES (%s, %s, %s, %s, %s, %s, %s)"""
    try:
        cursor.execute(sql, student_score)
        db.commit()
    except:
        db.rollback()
    
    again = input("Continue(Y/N)?")
    if again[0].lower() == "n":
        break

db.close()

Enter Student Score
Enter Name: Isaac
Enter Gender: M
Enter Chinese Score: 60
Enter English Score: 72
Enter Math Score: 32
Enter Social Science Score: 52
Enter Science Score: 86
Continue(Y/N)?Y
Enter Name: Amy
Enter Gender: F
Enter Chinese Score: 50
Enter English Score: 22
Enter Math Score: 80
Enter Social Science Score: 15
Enter Science Score: 93
Continue(Y/N)?N

### 查詢目前資料庫所有內容

In [3]:
import MySQLdb

db = MySQLdb.connect("127.0.0.1","irene","0000","mydatabase")

cursor = db.cursor()

sql = "SELECT * FROM STUDENTS"

# 4.查詢目前資料庫所有內容
try:
    cursor.execute(sql)
    results = cursor.fetchall()
    for row in results:
        name = row[1]
        gender = row[2]
        chinese = row[3]
        english = row[4]
        math = row[5]
        social_science = row[6]
        science = row[7]
        print("Name: {}, Gender: {}, Chinese: {}, English: {}, Math: {}, Social Science: {}, Science: {}"
              .format(name, gender, chinese, english, math, social_science, science))
except:
    print("Error: Unable to fecth data")

db.close()

Name: Isaac, Gender: M, Chinese: 60, English: 72, Math: 32, Social Science: 52, Science: 86
Name: Amy, Gender: F, Chinese: 50, English: 22, Math: 80, Social Science: 15, Science: 93

### 使用csv檔案，大量匯入全班成績

In [4]:
import MySQLdb

db = MySQLdb.connect("127.0.0.1","irene","0000","mydatabase")

cursor = db.cursor()

# 5.將exam_score.csv所有學生成績插入資料庫
with open("exam_score.csv") as f:
    for index, i in enumerate(f.readlines()):
        if index == 0: 
            continue
        x = tuple(i.strip().split(','))
        print("Insert {} data......".format(x[0]))
        sql = """INSERT INTO STUDENTS
                 (NAME, GENDER, CHINESE, ENGLISH, MATH, SOCIAL_SCIENCE, SCIENCE)
                  VALUES (%s, %s, %s, %s, %s, %s, %s)"""
        try:
            cursor.execute(sql, x)
            db.commit()
        except:
            db.rollback()

db.close()

Insert Loe data......
Insert Judy data......
Insert Lily data......
Insert Evan data......
Insert Joyce data......
Insert Yoshi data......
Insert Amber data......
Insert Alex data......
Insert Sophia data......

### 將Sophia英文成績改成99

In [5]:
import MySQLdb

db = MySQLdb.connect("127.0.0.1","irene","0000","mydatabase")

cursor = db.cursor()

# 6.將sophia英文成績改成99
sql = "UPDATE STUDENTS SET ENGLISH = 99 WHERE NAME = '%s'" % ('Sophia')

try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()

db.close()

### 計算各科平均

In [6]:
import MySQLdb

db = MySQLdb.connect("127.0.0.1","irene","0000","mydatabase")

cursor = db.cursor()

sql = "SELECT * FROM STUDENTS"
chinese_sum = 0
english_sum = 0
math_sum = 0
social_science_sum = 0
science_sum = 0

try:
    cursor.execute(sql)
    results = cursor.fetchall()
    num_students = len(results)
    # 7.計算各個科目平均總和
    for row in results:
        chinese_sum += float(row[3]) #取出來是字串,要轉為浮點數
        english_sum += float(row[4])
        math_sum += float(row[5])
        social_science_sum += float(row[6])
        science_sum += float(row[7])
except:
    print("Error: unable to fecth data")

print("Chinese AVG: {:.3f}".format(chinese_sum/num_students))
print("English AVG: {:.3f}".format(english_sum/num_students))
print("Math AVG: {:.2f}".format(math_sum/num_students))
print("Social Science AVG: {:.3f}".format(social_science_sum/num_students))
print("Science AVG: {:.3f}".format(science_sum/num_students))

db.close()

Chinese AVG: 57.182
English AVG: 56.364
Math AVG: 56.91
Social Science AVG: 50.182
Science AVG: 63.818